@if (employees.length === 0) {
<td>No hay elementos para mostrar.</td>
}@else {
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Salario</th>
      <th scope="col">Edad</th>
      <th scope="col">Imagen</th>
      <th scope="col">Salio anual</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of employees;">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.salary }}</td>
      <td>{{ item.age }}</td>
      <td>{{ item.image }}</td>
      <td>{{ item.employeeAnnualSalary }}</td>
      <td>
        <button type="button" class="btn btn-outline-primary" (click)="openModal(item.id)">
          <i class="bi bi-info-circle fs-4 --bs-emphasis-color"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
}

<div>
  <div id="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Información del empleado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <p>Id : {{employee.id}}</p>
          <p>Nombre : {{employee.name}}</p>
          <p>Edad : {{employee.age}}</p>
          <p>Salario : {{employee.salary}}</p>
          <p>Salario anual : {{employee.employeeAnnualSalary}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
